<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/kevinvoell/" target="_blank">@kevinvoell</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/kevinvoell/" target="_blank">@kevinvoell</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/kevinvoell" target="_blank">linkedin.com/in/kevinvoell</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="https://www.kevinvoell.com/" target="_blank">kevinvoell.com</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:kvoell@gmail.com" target="_blank">kvoell@gmail.com</a></p>